* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'FFNort' ;
  src: url('../assets/fonts/FFNort/FFNort-Bold.ttf') format('truetype'),
       url('../assets//fonts//FFNort/FFNort-Bold.woff') format('woff'),
       url('../assets//fonts//FFNort/FFNort-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

.status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background: #08122B;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 4rem;
  font-family: 'FFNort', sans-serif;
}

.group-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2rem;
  font-weight: bold;
  padding-left: .5rem;
}

.status-item p {
  margin: 0;
}

.status-icon {
  width: 3rem;
  height: 3rem;
  color: white;
}

.wifi {
  padding-bottom: .5rem;
}

.help {
  color: pink;
  font-size: 1.3rem;
  padding-right: 2rem;
}

.alix-head {
  width: 2rem;
  height: 2rem;
}


/* Media queries pour l'adaptation aux tablettes */
@media (max-width: 1024px) {
  .status-header {
    height: 2.5rem;
    padding: 0 0.8rem;
  }
  .status-item {
    font-size: 1.5rem;
  }
  .status-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 768px) {
  .status-header {
    height: 2rem;
    padding: 0 0.5rem;
  }
  .status-item {
    font-size: 1.2rem;
  }
  .status-icon {
    width: 2rem;
    height: 2rem;
  }
}