header {
    background-color: white;
    margin: auto;
    height: 6rem;
}

a {
    color: #494949;
    text-decoration: none;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 50%;
}

li{
    margin: 0 1rem;
}

.logoAlix {
    width: 40vh;
    height: 12vh;
    padding-bottom: 0.5rem;
}