header {
    background-color: white;
    margin: auto;
    height: 6rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}
a {
    color: #494949;
    text-decoration: none;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: auto;
}

li{
    margin: 0 1rem;
}

.logoAlix {
    width: 40vh;
    height: 12vh;
    padding-bottom: 0.5rem;
}


/* Responsive Design */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem 0;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    ul.active {
        opacity: 1;
        transform: translateY(0); 
        pointer-events: auto; 
    }

    ul li {
        margin: .5rem 0;
    }

    .hidden {
        display: none;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .logoAlix {
        width: 20vh;
    }
}
