* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstPart {
    background-image: url('../assets/img-landingPage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%; 
    text-align: left;
}
